 /* Created by Aurange */

body{
	margin: 0px;
	user-select: none;
}
button{
	background-color: rgba(190, 218, 247, 1);
	border-color: rgba(22, 102, 186, 1);
	border-width: 2px;
	border-radius: 10px;
	cursor: pointer;
}
